@import "../abstracts/variables";

h5 {
    font-weight: 900;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $color-ui-casino-02;
}

