$color-casino-base: #131b2f;
$color-casino-complimentary: #f72585;
$color-background-01: #353b4d;
$color-background-02: #1f263a;
$color-button-01: #a5cd28;
$color-button-02: #69a507;
$color-ui-casino-01: #ffffff;
$color-ui-casino-02: #b6b7c0;
$color-ui-casino-03: #747885;
