.list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	@include aboveBreakpoint() {
		padding-left: 21px;
	}
	padding-top: 21px;

	&__button {
		@include aboveBreakpoint() {
			margin-right: 21px;
			&--hidden {
				display: none;
			}
		}
	}

	&__image {
		background: linear-gradient(
			180deg,
			rgba(26, 23, 30, 0.64) 0%,
			rgba(26, 23, 30, 0) 24.98%,
			rgba(26, 23, 30, 0) 74.94%,
			rgba(26, 23, 30, 0.64) 100%
		);
		border-radius: 6px;
		@include aboveBreakpoint() {
			max-height: 96px;
			max-width: 132px;
		}
		@include belowBreakpoint() {
			max-height: 72px;
			max-width: 96px;
		}
		filter: drop-shadow(0px 5.33333px 26.6667px rgba(27, 24, 31, 0.12));
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-left: 24px;
		margin-right: 24px;
	}

	&__info-image {
		position: absolute;
		left: 7px;
		top: 7px;
		z-index: 100;
		@include aboveBreakpoint() {
			max-height: 22px;
			max-width: 22px;
		}
		@include belowBreakpoint() {
			max-height: 14px;
			max-width: 15px;
		}

		&--hidden {
			position: absolute;
			left: 7px;
			top: 7px;
			z-index: 100;
			@include aboveBreakpoint() {
				max-height: 22px;
				max-width: 22px;
				visibility: hidden;
			}
			@include belowBreakpoint() {
				max-height: 14px;
				max-width: 15px;
			}
		}
	}

	&--selected {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-radius: 6px;
		@include aboveBreakpoint() {
			padding-left: 21px;
		}
		padding-top: 21px;
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__item-separator {
		@include aboveBreakpoint() {
			border-bottom: 1px solid rgba(204, 205, 217, 0.12);
			margin-top: 21px;
			margin-left: 23px;
		}
		@include belowBreakpoint() {
			border-bottom: 1px solid rgba(204, 205, 217, 0.12);
			margin-top: 14px;
		}
		&--selected {
			@include belowBreakpoint() {
				margin-top: 14px;
				border-bottom: 1px solid rgba(204, 205, 217, 0.12);
			}
		}
	}

	&__wrapper-rectangle {
		@include aboveBreakpoint() {
			min-height: 144px;
		}

		@include belowBreakpoint() {
			min-height: 107px;
		}

		&--selected {
			border-radius: 6px;
			@include aboveBreakpoint() {
				background: $color-casino-base;
				min-height: 144px;
			}
			@include belowBreakpoint() {
				min-height: 107px;
			}
		}
	}
}
